*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
  
}
header div{
    margin: 2px 10px;
}
.oringin{
    font-size: 3rem;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: skyblue ;
    
}
.nav-link{
    color: white !important;
    font-size: 1.5rem;
    font-weight: 600;
}
.abt{
    display: flex;
    color: white;
   
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 100px;
    text-align: center;
}
body{
    background-color: skyblue;
}
.color{
    width:100%;
}
.cardi{
    border-radius:0 25px 0 25px;
    flex-direction: column;
    width: 25%;
   justify-content: center;
   align-items: center;
    text-align: center;
    border-color: black;
    display: flex;
    background-color: black;
    color: white;
 flex-wrap: wrap;
    height: 50px;
    width: 310px;
}
.cards{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    width: 1000px;
}
.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/3f/00/4f/3f004fbd0825ffbd4b9b11656a38f451.gif);
    background-size: cover;

    width: 90%;
    border-radius: 25px;
    padding: 30px;
    margin: 10px auto;
}
.cont{
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}
